name: Automated post-release PR management
on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  create_post_release_pr:
    name: Create master to develop PR
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout develop branch
      uses: actions/checkout@master

    - name: Create Branch
      uses: ./
      with:
        branch: 'master-to-develop'




