name: Automated post-release PR management
on:
  workflow_dispatch:
  
jobs:
  create_post_release_pr:
    name: Create master to develop PR 
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout develop branch
      uses: actions/checkout@master
      with:
        ref: develop

    - name: Create master-to-develop branch
      run: git checkout -b master-to-develop
    - name: Push new branch  
      run: git push origin master-to-develop
      
