name: Automated post-release PR management
on:
  workflow_dispatch:
  
jobs:
  create_post_release_pr:
    name: Create master to develop PR 
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout develop branch
      uses: actions/checkout@master

    - name: Create master-to-develop branch
      run: git branch master-to-develop develop
      
    - name: Push new branch  
      run: git push origin master-to-develop
      
    - name: Create PR
      run: gh pr create -B develop -H master-to-develop --assignee @d-mitrofanov-v --title 'Merge master-to-develop into develop' --body 'Created by Github action'
      
    - name: Update master-to-develop branch
      uses: chinthakagodawita/autoupdate-action@v1
