name: Automated post-release PR management
on:
  workflow_dispatch:
  
jobs:
  create_post_release_pr:
    name: Create master to develop PR 
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout develop branch
      uses: actions/checkout@master
    
    - name: Set Git config
      run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"

    - name: Create master-to-develop branch
      run: git branch master-to-develop develop
      
    - name: Merge master to master-to-develop
      run: |
          git fetch --unshallow
          git checkout master-to-develop
          git merge --no-ff origin/master -m "Auto-merge master back to master-to-develop"
          git push
